{{define "homejsscript"}}
    <script>
        function setReplId(){
            const replId = getRandomSlug()
            document.getElementById("replId").value = getRandomSlug();

            document.getElementById("fsb-loader").classList.remove("hidden");
            document.getElementById("fsb-text").classList.add("hidden");
        }
    </script>
{{end}}